<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">yangxingze1Q</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.0.50:3306/user_management_system</property>
        <property name="hibernate.connection.username">yxz</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.pool_size">10</property>
        <!-- Maximum waiting time for a connection from the pool -->
        <property name="hibernate.hikari.connectionTimeout">50000</property>
        <!-- Maximum time that a connection is allowed to sit ideal in the pool -->
<property name="hibernate.hikari.idleTimeout">500000</property>
        
        
        <mapping class="com.yxz.hibernateExample.model.AccountModel"/>
    </session-factory>
</hibernate-configuration>